.altura-a-b{
    padding: 100px 0;
}

.Logotipo{
    width:  50px;
    padding: 5px 0;
}

footer{
    background-color: #030201;
    color: aliceblue;
}
.jumbotron{
    background-color: blueviolet;
    color: aliceblue;
}